<html>
    <head>
        <title>Blog BUTIN</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog de CONCHIN</a></h1>
            <br><br>
        </div>

        <div>
            {% for post in posts %}
            <div>
                <p> publicado: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
                <br><br>
            </div>
        {% endfor %}
    </body>
</html>